<div class="menuBG">
    <div class="grid">
        <div class="row">
            <div class="c3">
                <div class="header">
                    <h1><span>Movies</span><br>coming soon!</h1>
                </div>
                <a href="#" class="hamburger" ng-click="header.toggleMenu()">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </a>
            </div>
            <div class="c9">
                <div class="menuContainer">

                    <ul class="loginContainer">
                        <li ng-if="header.isloggedIn()"><a href="#" ui-sref="profile">Your profile</a></li>
                        <li ng-if="!header.isloggedIn()"><a href="#">Guest</a></li>
                        <div class="">
                            <li class="login" ng-if="header.login == 'Log in'"><a href="" ui-sref="login">{{header.login}}</a></li>
                            <li class="login" ng-click="header.logout()" ng-if="header.login == 'Log out'">{{header.login}}</li>
                        </div>
                    </ul>
                    <ul class="itemContainer">
                        <li class="upcoming"><a href="" ui-sref="home">Upcoming</a></li>
                        <li class="comics"><a href="" ui-sref="comics">Comics</a></li>
                        <li class="animated"><a href="" ui-sref="animated">Animated</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<ui-view></ui-view>