html, body, .container {
    position: relative;
    height: 100%;
    min-height: 100% !important;
    width: 100%;
    
}

/* -- LOGIN PAGE --*/

.alertRegister {
    margin-top: 20px;
    text-align: center;
}
.alertLogin {
    margin:5px 0 12px 0;
    text-align: center;
}

.login .header {
    padding-bottom: 50px;
    float: none;
}

.form-input {
    clear: both;
    max-width: 500px;
    width: 70%;
    
    height: 75px;
    background-color: transparent;
    border: 3px solid rgba(0, 0, 0, .4);
    border-radius: 0px;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #000;
    font-size: 20px;
    padding-left: 20px;
    margin-bottom: 12px;
}

.login fieldset {
    padding-top: 10%;
    position: relative;
    border: none;
    margin: auto;
    text-align: center;
    overflow: hidden;
}
.checkboxContainer {
    position: relative;
    max-width: 500px;
    width: 70%;
    
    margin: auto;
    margin-bottom: 20px;
}
.login .checkbox {
    position: absolute;
    top: -5px;
    left: 0px;
    width: 18px;
    height: 18px;
}
.newUser {
    color: #000;
    font-weight: 300;
    font-size: 16px;
    line-height: 0.5;
    float: left;
    margin-left: 22px;
}

.resetPassword {
    text-align: center;
    font-size: 18px;
    margin-top: 35px;
}
.resetPassword a {
    color: #000;
}

.signInBtn {
    max-width: 500px;
    width: 70%;
    
    height: 75px;
    background-color: #3691ab;
    color: #fff;
    font-size: 22px;
    font-weight: 100;
    border: none;
}
.signInBtn:hover {
    background-color: #41a6c3;
}



/* -- RESET PASSWORD -- */
.alert {
    margin-left: 10px;
}
.resetPW input::-webkit-input-placeholder {
    color: grey;
}
.resetPWheader {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.resetPwForm {
    width: 70%;
    max-width: 350px;
    height: 50px;
    margin: 0 0 8px 0;
}
.resetPW button {
    width: 70%;
    max-width: 350px;
    height: 50px;
    color: #fff;
    background-color: #f7032f;
    margin: 0 0 0 0;
}



/* -- CHANGE PASSWORD -- */
.gridfix {
    float: left;
    margin-left: 20px;
    width: 50%;
}
.changePwHeader {
    font-size: 30px;
    margin-top: 15px;
    margin-left: 10px;
}
.changePw label {
    text-align: left;
    float: left;
    width: 160px;
    color: white;
}
.changePw button {
    width: 70%;
    max-width: 350px;
    height: 50px;
    color: #fff;
    background-color: #f7032f;
    margin-left: 160px;
}
.changePwForm {
    width: 70%;
    max-width: 350px;
    height: 50px;
    margin: 0 0 8px 0;
}
@media screen and (max-width: 1067px) {
    .changePw button {
        margin-left: 0px 
    }
}