.games {
  margin: auto;
    text-align: center;
}

.games span {
    font-weight: 600;
}
.games p:nth-child(1) {
    margin-top: 20px;
    font-size: 24px;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a {
    color: #000;
}
.noPad {
    padding: 0 !important;
}

body {
    background-color: #f4f4f4;
    z-index: 1;
}

.superman {
    z-index: -2;
    position: absolute;
    top: -40px;
    left: -260px;
    opacity: 0.6;
}
    .superman.ng-enter {
        opacity: 0;
        -moz-transition: opacity 1.2s ease;
        -o-transition: opacity 1.2s ease;
        -webkit-transition: opacity 1.2s ease;
        transition: opacity 1.2s ease;
    }
    .superman.ng-enter-active {
        opacity: 0.6;
    }

.bruce {
    z-index: -2;
    position: absolute;
    top: -60px;
    left: -240px;
    opacity: 0.6;
}
    .bruce.ng-enter {
        opacity: 0;
        -moz-transition: opacity 1.2s ease;
        -o-transition: opacity 1.2s ease;
        -webkit-transition: opacity 1.2s ease;
        transition: opacity 1.2s ease;
    }
    .bruce.ng-enter-active {
        opacity: 0.6;
    }


/* --- MENU --- */

.menuBG {
    width: 100%;
    height: 80px;
    background-color: #3c3939;
    margin-bottom: 40px;
}

.header h1 {
    color: #fff;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.8px;
    font-weight: bold;
    line-height: 22px;
    margin-left: 30px;
    margin-top: 17px;
    min-width: 170px;
}

.header span {
    color: #fff;
    line-height: 19px;
    font-size: 33px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 20px;
}

/* Menu items */
.menuContainer {
    min-width: 530px;
    z-index: 999;
}

.menuContainer li {
    font-weight: 100;
    line-height: 80px;
    font-size: 21px;
    z-index: 10;
    display: inline;
    margin-left: 30px;
}
.menuContainer li a {
    color: #fff;
}

.menuContainer ul {
    float: right;
    z-index: 9;
    margin-right: 20px;
}

/* Menu login */
.loginContainer {
    float: right;
    margin-top: 13px;
	padding-left: 0;
	list-style: none;
	max-width: 140px;
    color: #fff;
}
.loginContainer li {
   	font-size: 13px;
    line-height: 0;
    padding-left: 25px; 
}
.loginContainer li:first-child {
	background: url(images/iconLoggedin.png) no-repeat left top;
    padding-top: 5px;
}
.loginContainer li:last-child {
    background: url(images/iconLogout.png) no-repeat left top;
    padding-top: 0px;
}
.menuContainer .login:hover {
    cursor: pointer;
}

.itemContainer {
    float: right;
}

/* -- Search -- */
.searchCont input {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    padding: 10px 10px;
    padding-right: 43px;
    margin: auto;
    background-color: #fff;
    font-size: 1.3em;
    color: #ccc;
    border: 1px solid #c8c8c8;
    border-bottom-color: #d2e2e7;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1), 0 0 0 6px #f0f0f0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1), 0 0 0 6px #f0f0f0;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1), 0 0 0 6px #f0f0f0;  
    border-radius: 4px;
}
.searchCont input:focus {
    color: #999;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.2), 0 0 0 5px #e0e0e0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.2), 0 0 0 5px #e0e0e0;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.2), 0 0 0 5px #e0e0e0; 
}
.searchCont {
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    position: relative;
    display: table;
    width: 50%;
}
.searchCont #temp {
    display: table-row;
}
.searchCont #text, #btn {
    display: table-cell;
}
.searchCont #text input {
    width: 100%;
}
.searchCont button {
    position: absolute;
    right: 1%;
    top: 8px;
    height: 32px;
    width: 32px;
    border: 0;
    cursor: pointer;
    zoom: 1;
    filter: alpha(opacity=65);
    opacity: 0.65;
    background: transparent url('images/search.png') top left no-repeat;
}
.searchCont button:hover {
    filter: alpha(opacity=90);
	opacity: 0.9;  
}

/* --- CONTENT/POSTERS --- */

.posterContainer {
    position: relative;
    max-width: 300px;
    height: 500px;
    background-color: #ffffff;
    padding-top: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    margin: 0px auto 60px auto;
    z-index: 3;
    opacity: 0;
}

.posterImg {
    width: 282px;
    height: 363px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.movieTitle {
    max-width: 280px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 51px;
}
.trailer {
    max-width: 280px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -35px;
}
.trackMovie, .trackIcon {
    width: 28px;
    height: 28px;
    position: absolute;

    left: 90%;
    top: 121%;
}
.trackMovie:hover {
    cursor: pointer;
}

.movieTitle p, .movieTitle a {
    text-align: center;
    font-size: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.movieTitle p span {
    font-size: 1.1em;
}


/* PROFILE PAGE */
.trackedMovies {
    text-align: center;    
}
.profilepage .trackedMovies li {
    /*background: url('images/list_style.png') no-repeat 0px 4px;*/
    display: inline-block;
    line-height: 1;
    padding-left: 15px;
    margin-left: 10px;
    margin-top: 14px;
}
.untrackMovie {
    display: inline-block;
    margin-left: 3px;
   line-height: 20  
}
.untrackMovie:hover {
    cursor: pointer
}

/* Media queries */
@media handheld,
only screen and (max-width: 420px),
only screen and (max-device-width: 420px) and (orientation: portrait) {
    .searchCont {
        min-width: 90%;
    }
}
@media handheld,
only screen and (max-width: 550px),
only screen and (max-device-width: 550px) and (orientation: portrait) {
    .searchCont {
       width: 70%;
    }
}
@media handheld,
only screen and (max-width: 800px),
only screen and (max-device-width: 800px) and (orientation: portrait) {
    .posterContainer { 
        opacity: 1;
    }    
    .header {
        float: left;
    }
    .hamburger {
        margin-top: 10px;
        padding: 15px;
        display: inline-block;
        float: right;
    }
    .line {
        border-bottom: 4px solid #fff;
        width: 35px;
        margin-bottom: 6px;
    }
    .line:last-child {
        margin-bottom: 0;
    }

    .loginContainer {
        display: none;   
    }
    /* -- Menu items -- */
    .menuContainer li {
        display: block;
        margin: auto;
        text-align: center;
     }
    .menuContainer ul {
        float: none;
        margin: auto;
     }    
    .menuContainer {
        height: 0px;
        background-color: #3c3939;
        overflow: hidden;
        transition: height 0.3s ease;
        -webkit-transition: height 0.3s ease;
        -moz-transition: height 0.3s ease;
        -ms-transition: height 0.3s ease;
        -o-transition: height 0.3s ease;
        -webkit-transform: translateZ(0);
        position: absolute;
        top: -50px;
        left: 0;
        right: 0;
        margin: auto;   
        }
    
    .slide-down {
        height: 250px;
    }
    
    .posterContainer {
        margin: 0px auto 40px auto; /* marging bottom 60 > 40 */
    }
    
}


/*-- header --*/

@media screen and (max-width: 1200px) {
    .bruce {
        opacity: 0;
        display: none;
    }
    .bruce.ng-enter-active {
        opacity: 0;
        display: none;
    }
}

/*Track icon*/
@media screen and (max-width: 1000px) {
    .trackMovie, .trackIcon {
        left: 87%;   
    }
}
@media screen and (max-width: 900px) {
    .trackMovie, .trackIcon {
        left: 85%;   
    }
}
@media screen and (max-width: 800px) {
    .trackMovie, .trackIcon {
        left: 90%;   
    }
}


/* ---- BACK TO TOP ---- */

.cd-top {
    z-index: 999;
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(232, 98, 86, 0.8) url(images/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}

.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
}

.no-touch .cd-top:hover {
    background-color: #e86256;
    opacity: 1;
}

@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 20px;
    }
}

@media only screen and (min-width: 768px) {
    .cd-top {
        height: 60px;
        width: 60px;
        right: 30px;
        bottom: 30px;
    }
}

@media only screen and (max-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 20px;
    }
}