<div class="grid">
   
    <div class="row login">
        <div class="c12">
            <form class="form" name="form" ng-submit="login.authenticate()" novalidate ng-model-options="{updateOn: 'default blur', debounce: {'default': 200, 'blur': 0}}">

                <fieldset>
                    <div class="row">
                        <div class="c12">
                            <img class="header" src="images/movieLogo.png">
                        </div>
                    </div>
                    <div class="checkboxContainer">
                        <input type="checkbox" name="newUser" class="checkbox" ng-model="login.newUser">
                        <p class="newUser">New User</p>
                    </div>

                    <div class="form-group">
                        <input type="email" class="form-input username" name="username" placeholder="E-mail" ng-model="login.username" required>
                        <div class="alertLogin" ng-show="form.username.$error.email">This is not a valid email.</div>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-input" name="password" placeholder="Password" ng-model="login.password" required>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-input" name="firstName" placeholder="Your first name" ng-model="login.firstName" ng-show="login.newUser">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-input" name="lastName" placeholder="Your last name" ng-model="login.lastName" ng-show="login.newUser">
                    </div>
                    <!--<div class="form-group c12">
                            <input type="text" class="form-input" name="company" placeholder="Company name (optional)" ng-model="login.company" ng-show="login.newUser">
                        </div>-->
                    <div ng-hide="login.newUser" class="form-group">
                        <button type="submit" class="signInBtn">
                            LOG IN
                        </button>
                    </div>
                    <div ng-show="login.newUser" class="form-group">
                        <button type="submit" class="btn btn-primary signInBtn">
                            SIGN UP
                        </button>
                    </div>
                    <div class="resetPassword">
                        <a ui-sref="resetPassword" href="">Forgot Password?</a>
                    </div>
                </fieldset>
            </form>
            <div ng-show="login.error" class="alertRegister alert-danger">{{login.error}}</div>
            <div ng-show="login.success" class="alert alert-success">{{login.success}}</div>
        </div>
    </div>


</div>