<div ng-controller="searchCtrl">
    <div class="grid">
        <div class="row">
            <div class="c12">
                <div class="searchCont">
                    <div id="temp">
                        <div id="text">
                            <input type="text" id="search" placeholder="Search for movies here!">
                        </div>
                        <div id="btn">
                            <a href="#/search">
                                <button></button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="c4" ng-repeat="movie in movies" fade-in>
            <div class="posterContainer">
                <a ng-href="http://www.imdb.com/title/{{movieData[$index].imdb_id}}">
                    <img check-image class="posterImg" ng-src="http://image.tmdb.org/t/p/w500{{movie.poster_path}}">
                </a>
                <div class="movieTitle">
                    <p class="title"><span>{{movie.title}}</span></p>
                    <p class="rel_date">{{movie.release_date}}</p>
                    <a ng-show="movieData[$index].videos.results.length !== 0" class="trailer" href="https://www.youtube.com/watch?v={{movieData[$index].videos.results[0].key}}">Watch trailer</a>
                    <p class="trailer" ng-if="movieData[$index].videos.results.length === 0">No trailer found</p>
                    <img src="images/checkIcon.png" class="trackIcon" ng-if="isUserLoggedIn() && IsTracking(movie.title)" title="You are tracking this movie">
                    <img src="images/trackIcon.png" class="trackMovie trackIcon" ng-if="isUserLoggedIn() && !IsTracking(movie.title)" title="Click to track this movie">
                </div>

            </div>
        </div>
    </div>
</div>