<div class="grid profilepage">

    <div class="row">
        <div class="c12">
            <div class="trackedMovies">
                <h2>You are tracking the following movies: </h2>
                <ul>
                    <div ng-repeat="tracked in profile.trackedMovies">
                        <li>{{tracked.date | limitTo:10}} - {{tracked.title}}</li>
                        <img src="images/deleteIcon.png" class="untrackMovie">
                    </div>

                </ul>
            </div>
        </div>
    </div>
    
</div>