<div class="grid">
   <div class="row" ng-repeat="game in games">
    <div class="c12" fade-in>
            <div class="games">
                <p><span>{{game.name}}</span></p>
                <p><span>Release date</span>: {{game.expected_release_day}} / {{game.expected_release_month}} / {{game.expected_release_year}} </p>
            </div>
       </div>
    </div>
</div>