<div class="grid">
    <div class="row">
        <div class="c12">
            <div class="searchCont">
                <div id="temp">
                    <div id="text">
                        <input type="text" id="search" placeholder="Search for movies here!">
                    </div>
                    <div id="btn">
                        <a href="#/search">
                            <button ng-click="searchMovies()"></button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="grid">
    <div class="c4" ng-repeat="movie in search_movieData" fade-in>
        <div class="posterContainer">
            <a ng-href="http://www.imdb.com/title/{{search_movieData[$index].imdb_id}}">
                <img check-image class="posterImg" ng-src="http://image.tmdb.org/t/p/w500{{movie.poster_path}}">
            </a>
            <div class="movieTitle">
                <p><span>{{movie.title}}</span></p>
                <p>{{movie.release_date}}</p>
                <a ng-show="search_movieData[$index].videos.results.length !== 0" class="trailer" href="https://www.youtube.com/watch?v={{search_movieData[$index].videos.results[0].key}}">Watch trailer</a>
                <p class="trailer" ng-if="search_movieData[$index].videos.results.length === 0">No trailer found</p>
            </div>

        </div>

    </div>
</div>